@charset "UTF-8";

.story {
  background: #fff;
}

.m_cont_ex {
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}

.ban_img {
  width: 50%;
  margin: 0 auto;
}
.ban_img img {
  width: 100%;
  transform: translate(0px, 49px);
}